$akn-para-indent: 3em !default;
$akn-para-spacing: 0.8em !default;     // see http://practicaltypography.com/space-between-paragraphs.html

.akoma-ntoso.country-un {
  .akn-authorialNote {
      display: flex;
      font-size: small;
      margin-top: 0.5em;

  & > .akn-authorialNote--marker {
        margin-right: 0.5em;
    }
  }

  .akn-part {
    position: relative;
  }

  .akn--table-container {
    max-width: 100%;
    overflow-x: scroll;
  }

  .akn-crossHeading {
    text-align: left;
    font-style: normal;
    position: relative;

    h3 {
      font-weight: bold;
      text-align: center;
    }
  }

  .akn-container,
  .akn-intro,
  .akn-wrapUp {
    display: block;
  }

  // from indigo-web
  .akn-subparagraph {
    display: block;
    margin-left: $akn-para-indent;
    margin-bottom: $akn-para-spacing;
  }

  // from indigo-web
  .akn-subparagraph {
    margin-left: $akn-para-indent;
    margin-bottom: $akn-para-spacing;

    &.akn--no-indent {
      margin-left: 0px;
    }

    &> .akn-num {
      display: block;
      float: left;
      margin-left: -$akn-para-indent;
      margin-right: 0.25em;
    }
  }

  .akn-paragraph > .akn-num,
  .akn-subparagraph > .akn-num {
    font-weight: bold;
  }
}
