<!doctype html>
<html>
  
  {% include structure/head.html %}

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N945XH3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% include structure/nav.html %}

    <div id="main-content">
      {{ content }}
    </div>

    {% include structure/footer.html %}

    {% for js in layout.extra_js %}
      <script src="{{ js }}"></script>
    {% endfor %}

    {% for js in page.extra_js %}
      <script src="{{ js }}"></script>
    {% endfor %}
  </body>
</html>
